[submodule "cookbooks/passenger_nginx"]
	path = cookbooks/passenger_nginx
	url = git://github.com/rellimevad/passenger_nginx.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
